/* TOP BAR */
.above-header {
    background-color: #0f3540;
    line-height: 40px;
    width: 100%;
  }
  .above-header .container {
    max-width: 1185px !important;
  }
  .above-header-section .user-select a {
    display: block;
    font-family: "Uni Neue", sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 26px 3px 57px;
    text-decoration: none;
  }
  .above-header-section a {
    font-family: "Uni Neue", sans-serif;
    font-weight: 900;
  }
  .above-header-section-1 .user-select a {
    background-color: #fff;
    color: #0f3540 !important;
  }
  .above-header-section-1 .user-select a {
    background-color: #fff;
    color: #0f3540 !important;
    font-size: 20px;
    padding: 4px 15px 4px 14px;
  }
  .above-header-section-1 .user-select a img {
    vertical-align: middle;
    min-width: 65px;
    width: 100%;
  }
  .above-header-section-1 a {
    background-color: #fff;
    color: #0f3540;
    font-size: 20px;
    padding: 6px 15px 12px 15px;
  }
  .above-header-section-1 a img {
    max-width: 65px;
  }
  .above-header-section-2 div {
    background-color: #e36a51;
    padding: 7px 15px 8px 15px;
    width: 100px;
    height: 48px;
    background-image: url(/img/search-icon@2x.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 55%;
    background-size: 23px auto;
    -webkit-background-size: 23px auto;
  }
  .above-header-section-2 .user-select div {
    background-color: #e36a51;
    color: #fff !important;
    padding-left: 50px;
    padding-right: 15px;
  }
  .above-header .above-header-section-wrap {
    justify-content: flex-end;
    padding-right: 15px;
  }
  #data {
    color: #fff !important;
    padding-left: 45px;
    padding-top: 6px;
    width: 100px;
  }
  .links {
    display: "flex";
    justify-content: "space-between";
    align-items: "center";
  }
  