
.btn-flat {
  background-color: #fff;
  color:  #00565D;
  border: 1px solid #00565D;
}

.btn-flat:hover {
  background-color: #00565D;
  color:  #fff;
  border: 1px solid #00565D;
}


.btn-round {
  background-color: #fff;
  color:  #00565D;
  border: 1px solid #00565D;
  border-radius: "20px";
}

.btn-round:hover {
  background-color: #00565D;
  color:  #fff;
  border: 1px solid #00565D;
}

.btn-toggle {
  background-color: #006381;
  color:  #fff;
  border: 1px solid #fff;
}

.btn-toggle:hover {
  background-color: #669FBA;
  color:  #fff;

}

