
.btn-flat {
  background-color: #fff;
  color:  #00565D;
  border: 1px solid #00565D;
}

.btn-flat:hover {
  background-color: #00565D;
  color:  #fff;
  border: 1px solid #00565D;
}


.btn-round {
  background-color:  #6EB3A6;
  color: #fff;
  // border: 1px solid #00565D;
  border-radius: "20px";
}

.btn-round:hover {
  background-color: #00565D;
  color:   #fff;
  // border: 1px solid #00565D;
}

.btn-toggle {
  background-color: #fff;
  color:  #00565D;
  border: 1px solid #00565D;
}

.btn-toggle:hover {
  background-color: #6EB3A6;
  color:  #fff;

}


.btn-mobile {
  background-color: #fff;
  color:  #00565D;
  height: 10%;
  width: 50%;
  border: 1px solid #00565D;
}

.btn-mobile:hover {
  background-color: #00565D;
  color:   #fff;
  // border: 1px solid #00565D;
}




