  .BurgerMenu__container {    
    i {
      background-image: url(/img/icons/chevron.png);
      width: 32px;
      height: 4px;
      margin: 4px;
      border-radius: 2px;
      transition:all ease 0.5s;   
    }


  }
