* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Uni Neue";
  src: url("/fonts/fontfabric_-_unineueheavy-webfont.woff2") format("woff2"),
    url("/fonts/fontfabric_-_unineueheavy-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue";
  src: url("/fonts/fontfabric_-_unineuelight-webfont.woff2") format("woff2"),
    url("/fonts/fontfabric_-_unineuelight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
html {
  font-size: 100% !important;
}
body {
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: "museo-sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* overflow-y: hidden; Hide horizontal scrollbar */

  width: 100vw;
  height: 100vh !important;
  z-index: 1;
  max-width: 100%;
  overflow-anchor: none;
}

/* TOP BAR */
.above-header {
  background-color: #0f3540;
  line-height: 40px;
  width: 100%;
}
.above-header .container {
  max-width: 1185px !important;
}
.above-header-section .user-select a {
  display: block;
  font-family: "Uni Neue", sans-serif;
  font-size: 16px;
  font-weight: 900;
  padding: 5px 26px 3px 57px;
  text-decoration: none;
}
.above-header-section a {
  font-family: "Uni Neue", sans-serif;
  font-weight: 900;
}
.above-header-section-1 .user-select a {
  background-color: #fff;
  color: #0f3540 !important;
}
.above-header-section-1 .user-select a {
  background-color: #fff;
  color: #0f3540 !important;
  font-size: 20px;
  padding: 4px 15px 4px 14px;
}
.above-header-section-1 .user-select a img {
  vertical-align: middle;
  min-width: 65px;
  width: 100%;
}
.above-header-section-1 a {
  background-color: #fff;
  color: #0f3540;
  font-size: 20px;
  padding: 6px 15px 12px 15px;
}
.above-header-section-1 a img {
  max-width: 65px;
}
.above-header-section-2 div {
  background-color: #e36a51;
  padding: 7px 15px 8px 15px;
  width: 100px;
  height: 48px;
  background-image: url(/img/search-icon@2x.png);
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 55%;
  background-size: 23px auto;
  -webkit-background-size: 23px auto;
}
.above-header-section-2 .user-select div {
  background-color: #e36a51;
  color: #fff !important;
  padding-left: 50px;
  padding-right: 15px;
}
.above-header .above-header-section-wrap {
  justify-content: flex-end;
  padding-right: 15px;
}
#data {
  color: #fff !important;
  padding-left: 45px;
  padding-top: 6px;
  width: 100px;
}
.links {
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
}

/* SEARCHBAR*/
.site-branding {
  display: "flex";
  justify-content: "center";
  align-content: "center";
}
.site-branding img {
  max-width: 300px;
}
.searchbar {
  display: "flex";
  justify-content: "center";
  background-image: url(/img/icons/search-bar2.png);
  background-repeat: no-repeat;
}
.searchbar:hover {
  /* background-image: url(/images/search-bar2-dark.png); */
  /* transition: background 0.3s; */
}
.searchbutton {
  background-image: url(/img/icons/search-arrow.svg);
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.searchbutton:hover {
  background-color: #B3D4C9;
  transition: background 0.01s;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}
.searchicon {
  background-image: url(/img/icons/search-bioimages-icon.svg);
}
#place {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  outline: none;
  height: 30px;
  transition: height 1s;
  -webkit-transition: height 1s;
}
#place::placeholder {
  color: #065f65;
  opacity: 1;
}
#place:hover {
  color: #fff;
  opacity: 1;
}







@media (max-width: 1024px) {
  .filterbar {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  .filterbar {
    width: 500px !important;
    z-index: "9";
    height: 190vh;
  }
}

.accordion:hover {
  background-color: #b3d4c9;
}
.btntoggle:hover {
  background-color: #fff;
  color: #fff;
  border: "5px solid #065f65";
  font-weight: "900";
}

/* MAP */
.leaflet-container {
  height: 80vh;
  width: fluid;
}
.map-container {
  height: 100%;
}
.map-frame {
  height: 100%;
  width: 100%;
}
#map-id {
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumb {
  background-color: "#fff";
  width: 100%;
  margin: 0%;
  margin-top: "2px";
  margin-bottom: "0px";
  border-bottom: 1px solid #66b3a6;
  color: "#66b3a6";
  height: 50px;
}
.select-all {
  display: flex;
  justify-content: flex-end;
}
.selectbtn {
  background-image: url(/img/icons/select.svg);
  background-repeat: no-repeat;
  background-size: 23px auto;
  -webkit-background-size: 23px auto;
}
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}
.btn-default:active,
.btn-default:focus {
  color: #065f65;
  background-color: "none";
  border-color: #065f65;
  outline: 0;
  border: #065f65;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.custom-marker {
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  background: #065f65;
  font-size: "6px";
  border-radius: 50%;
  border: 5px solid rgba(84, 179, 166, 0.9);
}
.custom-marker:hover {
  background: #e36a51;
  border: -10px solid rgba(149, 219, 199);
  transition: background 0.5s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.5s;
  box-shadow: 0 0 0 10px rgba(84, 179, 166, 0.5), 0 3px 14px rgba(0, 0, 0, 0.4);
  size: 3em;
}
.markercluster-map {
  height: 80vh;
}
.toggleimages {
  position: fixed;
  bottom: 50px;
  right: 10px;
  border-radius: 50px;
  border: 2px solid #065f65;
  z-index: 11;
}
.togglemap {
  position: fixed;
  bottom: 100px;
  right: 10px;
  border-radius: 50px;
  border: 2px solid #065f65;
  z-index: 11;
}

@media (max-width: 767px) {
  .footer-col {
    float: none;
    text-align: center;
    width: 100%;
  }
  .footer-column-2,
  .footer-column-3,
  .footer-column-4 {
    display: none;
  }
}

/* Filter checkbox tree override styles */
.react-checkbox-tree {
  width: auto;
  overflow-y: auto;
  overflow-x: auto;
  height: 400px !important;
  /* border-style: solid; */
  /* border-color: #0f3540; */
  /* flex-direction: unset !important; */
}
.tree-nodes {
  /* border-style: solid; */
  /* border-color: red; */
  height: auto;
  width: 350px !important;
}
.rct-title {
  font-size: 1.03em !important;
}
.rct-node-icon {
  color: #065f65 !important;
}
/* End checkbox tree css */

/* GALLERY */
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-transform: capitalize;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

/* MEDIA */
@media (max-width: 1450px) {
  .site-branding {
    display: none;
  }
}

@media (max-width: 768px) {
  .biologo {
    display: none;
  }
}
@media (max-width: 400px) {
  .searchbar {
    display: "flex";
    justify-content: "center";
    margin-bottom: "10px";
  }
}

@media (max-width: 400px) {
  .above-header-section .above-header-section-1 {
    width: 40% !important;
  }
  .above-header-section .above-header-section-2 {
    width: 60% !important;
  }
  .above-header-section .user-select a {
    padding: 5px 27px 3px 59px;
    background-position: 10px center;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 15px;
  }
}

#header-wrapper {
  width: 100vw;
  height: 80px;
  background-color: navy;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#toggle {
  cursor: pointer;
  color: black;
  font-size: 60px;
  margin-left: 20px;
  background: transparent;
  border: none;
  padding: 10px;
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: navy;
  opacity: 0.8;
  color: white;
  width: 400px;
  position: fixed;
  z-index: 200;
}

/*----------------  Navbar styles ----------- */

.dropdown-toggle {
  padding: 6px 12px;
}
.navbar-toggler {
  float: left !important;
  border: none !important;
}
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 0px !important;
  }
  .navbar-collapse {
    width: 100% !important;
  }
  .addlinks-nav {
    flex-direction: row !important;
  }
}
a.addlinks {
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 12px;
  background-color: #ffffff;
  margin-right: 0;
}
a.user-select.addlinks {
  background-color: #ffffff;
}
a.user-select.addlinks img {
  height: 30px;
}
a.search-link.addlinks {
  background-image: url(/img/search-icon@2x.png);
  background-color: #e36a51;
  background-position: 8px 17px;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 32px !important;
  padding-right: 24px !important;
}
@media (min-width: 768px) {
  .datalinks-for-sm {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .datalinks-for-lg {
    display: none !important;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}
.search-for-mobile {
  display: none;
}
@media (max-width: 768px) {
  .login-links {
    flex-direction: row !important;
  }
  .login-links .nav-item {
    padding-right: 15px;
  }
  .login-links button {
    padding: 4px !important;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .searchbar-wrap {
    width: 100%;
    margin: 0;
    padding: 0 15px !important;
  }
}

@media (max-width: 768px) {
  .main-header > :nth-child(1) {
    order: 1;
  }
  .main-header > :nth-child(2) {
    order: 3;
  }
  .main-header > :nth-child(3) {
    order: 1;
  }
}

/* Testing */
.bio-facets {
  margin: 20px 10px; 
  color: #065f65;
}

@media (max-width: 1520px) {
  .toggle {
  
  }
}
@media (max-width: 998px) {
  .login {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
}

.scroll {
  float: left;
  overflow-x: auto;
  height: 2000px;
}





.buttonTrue {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: yellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonFalse {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


