@media (max-width: 1199px) {
    .small_preview {
        display: block;
    }
    .large_preview {
        display: none;
    }
}

@media (min-width: 1200px) {
    .small_preview {
        display: none;
    }
    .large_preview {
        display: block;
    }
}

